body {
    margin: 0;
    background-color: #eeeeee;
}

header {
    position: relative;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 10px grey;
}

#top {
    border-bottom: solid 1px grey;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: large;
}

#logo {
    padding-left: 2px;
    padding-bottom: 3px;
    margin-right: 20px;
    flex-grow: 0;
}

#search {
    flex-grow: 1;
}

#search_input {
    height: 30px;
    width: 300px;
}
#search_button {
    height: 30px;
    width: 30px;
    border: solid 1px black;
}

#navigation {
    padding: 3px 5px 4px 5px;
    background-color: #2FA22F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu_button {
    background-color: white;
    height: 25px;
    width: 80px;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
}

#action {

}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f3f3f3;
}

#column_left {
    width: 65%;
    max-width: 600px;
}

#column_right {
    width: 33%;
    max-width: 400px;
}

i-card {
    display: block;
    background-color: white;
    margin: 15px 10px 15px 10px;
    box-shadow: 3px 3px 1px lightgrey;
    padding: 10px;
}

h2[is="i-card-h"] {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #2FA22F;
}

.vote_buttons {
    display: block;
    margin-top: 10px;
    text-align: right;
}

.inlinebutton {
    border-radius: 3px;
    border: none;
}

.button_vote_down {
    background-color: indianred;
    color: white;
}

.button_vote_up {
    background-color: #2FA22F;
    color: white;
}

i-comment {
    display: block;
    /*border-bottom: solid 1px lightgrey;*/
    margin-bottom: 10px;
    padding-bottom: 3px;
}

i-comment-meta {
    display: block;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: grey;
}

.lastcomment {
    border-bottom: 0px;
}

.morebutton {
    background-color: #e3e3e3;
    border: 0;
    width: 100%;
    height: 25px;
}

.newcomment {
    margin-top: 3px;
    width: 100%;
}

a {
    text-decoration: none;
}

a[is="i-aspect-reference"] {
    color: mediumblue;
}

a[is="i-idea-reference"] {
    color: mediumblue;
}

a[is="i-tag"] {
    color: mediumblue;
}