i-comment {
    display: block;
    /*border-bottom: solid 1px lightgrey;*/
    margin-bottom: 10px;
    padding-bottom: 3px;
}

i-comment-meta {
    display: block;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: grey;
}

i-card {
    display: block;
    background-color: white;
    margin: 15px 10px 15px 10px;
    box-shadow: 3px 3px 1px lightgrey;
    padding: 10px;
}

h2[is="i-card-h"] {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #2FA22F;
}

#column_left {
    width: 65%;
    max-width: 600px;
}

#column_right {
    width: 33%;
    max-width: 400px;
}

div.i-full {
    max-width: 1200px;
}

div.i-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}