body {
    margin: 0;
    height: 100%;
    background-color: #eeeeee;
}

html {
    margin: 0;
    height: 100%;
}

.inlinebutton {
    border-radius: 3px;
    border: none;
}

a {
    text-decoration: none;
}

a[is="i-aspect-reference"] {
    color: mediumblue;
}

a[is="i-idea-reference"] {
    color: mediumblue;
}

a[is="i-tag"] {
    color: mediumblue;
}

a {
    color: black;
}

#content {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f3f3f3;

    padding-bottom: 20px;
}

.error {
    color: red;
}

.okay {
    font-weight: bold;
}

footer {
    background-color: #2FA22F;
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    height: 20px;
    position: absolute;
    bottom: 0;
}

#container {
    min-height: 100%;
    position: relative;
}