body {
    margin: 0;
    background-color: #eeeeee;
}

.inlinebutton {
    border-radius: 3px;
    border: none;
}

a {
    text-decoration: none;
}

a[is="i-aspect-reference"] {
    color: mediumblue;
}

a[is="i-idea-reference"] {
    color: mediumblue;
}

a[is="i-tag"] {
    color: mediumblue;
}

a {
    color: black;
}

#content {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f3f3f3;
}

.error {
    color: red;
}